/* css styles */
div.cell-output-stdout > pre {
  background-color: rgba(236,240,241,.65);
  border-left: 8px solid var(--bs-green);
  border-radius: .25rem;
  padding: .4em .2em;
}

.code-block-h {
  height: 320px;
}

.reactable {
  margin: 32px 8px;
}

pre code {
  font-size: .75rem;
}