/* css styles */
div.cell-output-stdout > pre {
  background-color: rgba(236,240,241,.65);
  border-left: 8px solid var(--bs-green);
  border-radius: .25rem;
  padding: .4em .2em;
}

.code-block-h {
  height: 320px;
}

.reactable {
  margin: 32px 8px;
}

pre code {
  font-size: .75rem;
}

div.quarto-post .thumbnail img {
    object-fit: none;
    object-position: 50% 31%;
}
/*
// Try aligning code summary text to the right and styling like a button
summary {
  background-color: #18bc9c;
  color: #ffffff !important;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  display: block;
}

details {
  text-align: -webkit-right;
}

div.sourceCode {
  text-align: -webkit-auto;
}
*/